/* comn style  */
body{
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}
}


/* nav related style  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;

}
/* shard related style  */
.tex-primary{
   color:  #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
    
}
nav> ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 64px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
header{
    background-color: #FFF8F3;
}

.banner{
     padding: 30px 30px 30px 150px;
     display: flex;
}